*{
    background-color: #e0d6fc;
}

body
{
    text-align: center;
}
form{
    border:2px solid black;
    margin: 0 0 0 30%;
    width: 40%;
    
}

#idlogin,#idpassword{
    background-color: white;
}

footer{
    position: absolute;
    left: 42%;
    bottom : 10px;
}

a{
padding: 5px 30px;
background-color: #0832d8; 
color: white;
border-style:inset;
border-radius: 12px;
border: 2px solid black;
}

a:hover {
background-color: #a0b0ed;
color:black;
}