/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mai 2021, 08:55:11
    Author     : jeanc
*/

*{
    background-color: #e0d6fc;
}


.navig{
    position: absolute;
    margin: 0 0 0 0;
}

.contenu
{
    position: absolute;
    margin: 0 0 0 40%;
}
fieldset{
    border:2px solid black;
    width: 400px;
    
}
input{
    background-color: white;
}
select{
    background-color: white;
}
#idenvoyer{
    background-color: #e0d6fc;
}
#idreset{
    background-color: #e0d6fc;
}
#idm{
    background-color: #e0d6fc;
}

a{
padding: 5px 30px;
background-color: #0832d8; 
color: white;
border-style:inset;
border-radius: 12px;
border: 2px solid black;
}

a:hover {
background-color: #a0b0ed;
color:black;
}
footer{
    position: absolute;
    //text-align: center;
        left: 42%;
        bottom : 10px;
}